.NavItem {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.NavItem a {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 200ms ease;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    border-bottom: 4px solid transparent;
    background: #8b8b8b;
    border-color: #e48f34;
}

@media (max-width: 500px) {
    .NavItem a:active,
    .NavItem a.active {
        color: #e48f34;
        font-weight: 500;
        background: transparent;
        border: none;
        width: 100%;
    }
}